{% extends "layout.html" %}


{% block body %}
{% include "dashbord.html" %}
{% include "dashbord2.html" %}

{% from "includes/formhelpers.html" import render_field %}<br>
<hr>
<td><a href="/cvCertificateAdd" class="btn btn-info">ADD CERTIFACATE</a></td> 
<hr>
<hr>
 
 
   <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">CERTIFICATE NAME</th>
      <th scope="col">CERTIFICATE TİME</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
 {% for certificate in certificate %}
    <tr>
     <th scope="row">{{certificate.cer_id}}</th>
     <th scope="row">{{certificate.cer_name}}</th>
     <th scope="row">{{certificate.cer_data}}</th>
      <td></td>
      <td></td>

     <td><a href="/Cedit/{{certificate.cer_id}}" class="btn btn-dark">Update</a></td>
      <td><a href="/Cdelete/{{certificate.cer_id}}" class="btn btn-dark">Delete</a></td> 
 {% endfor %}   

     </tr>
   
    
  </tbody>
</table>
               
 <hr>
 {% endblock %}