{% extends "layout.html" %}


{% block body %}


<small>CV OPTIONS</small>
<hr>
<a href="/curriculum_vitae" class="btn btn-danger">PERSONAL INFORMATION</a>
<a href="/education" class="btn btn-danger">EDUCATION</a>
<a href="/certificate" class="btn btn-danger">CERTİFİCATE</a>
<a href="/seminar" class="btn btn-danger">SEMINAR</a>
<a href="/language" class="btn btn-danger">LANGUAGE</a>
<a href="/workexperince" class="btn btn-danger">WORK EXPERIENCE</a>
<a href="/talanted" class="btn btn-danger">TALENTED</a>


{% endblock %}