{% extends "layout.html" %}


{% block body %}


    
               {%if index %}
               <div class="index_Screen" style="float: left;width:800px;height: 400px;
               margin-top: 50px;margin-left: 100px;font-size: 15px;text-align: center;
               line-height: 400px;color: #990000">
                <ul class="list-group">
                 {% for in in index %}
                   {{in.content|safe}}</a></li>
                 {% endfor %}  
                </ul>
               {%else %}
               <div class="alert alert-danger">
               	no posts in this blog yet
               </div>
               {%endif %}
           </div>

{% endblock %}