{% extends "layout.html" %}


{% block body %}

 {%if session["logged_in"]%}
               {%if projects %}
                <ul class="list-group">
                 {% for project in projects %}
                   <li class="list-group-item"><a href="project/{{project.p_id}}" style="text-decoration: none; color: #990000"> {{project.p_header}}</a></li>
                 {% endfor %}  
                </ul>
               {%else %}
               <div class="alert alert-danger">
               	no posts in this blog yet
               </div>
               {%endif %}
 {%else %}
             if you have not a account, you don't this page 
 {%endif %}

{% endblock %}